@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box; /* внутр.отступы вместе с рамкой находятся в указанных пределах широты и высоты */
}
body {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #635854;
    padding-top: 12px; /* внутренний отступ сверху */
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5; /* если просто border, то полностью рамка сплошной линией */
}
.navbar {
    max-width: 1280px;
    margin: auto; /* внешние отступы автоматические */
    display: flex; /* сделали блок гибким */
    justify-content: space-between; /* равномерно распределить по ширине */
    align-items: center; /* выровняли по высоте */
}
.navbar-menu {
    margin: 0; /* убрали все внешние отступы */
    padding: 0; /* убрали внутренние отступы */
    list-style: none; /* убрали точки списка */
    display: flex; /* список выстроился по горизонтали */
    text-align: center; /* каждый элемент списка отцентрирован в своем столбце */
}
.navbar-item {
    margin-left: 40px; /* отступы слева и справа у элементов списка*/
    margin-right: 40px;
}
.navbar-link {
    text-decoration: none; /* убрали подчеркивание текста в списке */
    color: #fff;
}
.navbar-contacts {
    text-align: right; /* текст прижали вправо */
}
.navbar-text {
    display: block; /* занимает всю строку */
    color: #fff;
    margin-bottom: 4px;  /* отступ вниз после Закажите звонок */
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
}
.main {
    max-width: 1280px;
    margin: auto; /* внешние отступы автоматические */
    padding-top: 54px; /* отступ сверху */
    display: flex;
}
.main-choosing-floor {
    flex-grow: 1; /* этот блок займет все оставшшеся справа место */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
}
.main-title {
    margin: 0;
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}
.house path {
    opacity: 0; /* свойство полной прозрачности для элементов path */
    cursor: pointer; /* палец вместо курсора мышки */
}
.house path:hover {
    opacity: 1; /* свойство видимости при наведении мышкой для элементов path */
}
path.current-floor {
    opacity: 1;
}
.floor-counter {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    color: #635854;
    font-size: 124px;
    margin-bottom: 10px;
}
.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button {
    background-color: #fff;
    border: none; /* убрали рамки вокруг кнопок */
    cursor: pointer; /* палец вместо курсора мышки */
}
.counter-arrow-down {
    transform: rotateX(180deg);
}
.button-primery {
    background: #3596F5;
    border-radius: 6px;    /* закруглили углы кнопки */
    color: #fff;
    border: none; /* убрали рамки вокруг кнопок */
    padding: 16px 36px; /* внутри кнопки отступ сверху и снизу по 16, слева и справа по 36 */
    cursor: pointer; /* палец вместо курсора мышки */
    margin-bottom: 5px;
}
.modal {
    position: fixed; /* закрепляем поверх сайта */
    left: 0; /* приклеем к левому верхнему углу*/
    top: 0;
    width: 100%; /* перекрывает сайт по ширине полностью */
    height: 100%; /* и по высоте тоже полностью */
    background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный черный цвет */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* окно первоначально не видно */
    transform: scale(0); /* и сжато в ноль */
    transition: opacity 0.2s; /* окно появится плавно в течении 0,2 секунды */
}
.is-open {
    opacity: 1;
    transform: scale(1);
}
.modal-dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%); /* отодвинули на 10% вверх */
    transition: transform 0.2s, opacity 0.2s; /* отодвигается с задержкой 0,2 секунды*/
    transition-delay: 0.2s; /* сначала появится серый фон, а потом спустя 0,2 сек окно с планом этажа */
}
.is-open > .modal-dialog {
    opacity: 1;
    transform: translateY(0); /* вернули обратно */
}
.modal-image {
    background: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.flats path{
    opacity: 0;
    cursor: pointer;
}
.flats path:hover{
    opacity: 1;
}

.modal-title {
    font-family: "Bebas Neue Cyrillic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info {
    padding: 50px 46px; /* внутри секции отступ сверху и снизу по 56, слева и справа по 46 */
    width: 40%;
}
.flat-list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item {
    margin-bottom: 10px;
}
.flat-link {
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}
.flat-link:hover {
    text-decoration-line: underline; /* при наведении мышкой строка становится голубой и подчеркивается */
    color: #3596F5;
}
.modal-alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;
}
.modal-close-button {
    position: absolute;
    right: 27px; /* приклеем к правому верхнему углу*/
    top: 38px;
    cursor: pointer;
    border:none;
    background-color: #fff;
}